version: '3.8'

services:
  app:
    image: ajtasingh/cloudforge-app:latest
    container_name: cloudforge-app
    restart: unless-stopped
    environment:
      - ENVIRONMENT=production
    expose:
      - "5000"

  nginx:
    image: nginx:alpine
    container_name: cloudforge-nginx
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app
