apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudforge-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: cloudforge
  template:
    metadata:
      labels:
        app: cloudforge
    spec:
      containers:
      - name: flask-container
        image: ajtasingh/cloudforge-app:latest
        ports:
        - containerPort: 5000
        env:
        - name: ENVIRONMENT
          value: "production"
        livenessProbe:
          httpGet:
            path: /health
            port: 5000
          initialDelaySeconds: 5
          periodSeconds: 10
